<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <meta name="About Us" content="About Us">
  </head>


  <body>


    <header>Summit Street Family Restaurant</header>
       <!-- The page content goes here -->

       <nav>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="aboutus.html">About Us</a></li>
    <li><a href="menu.html">Menu</a></li>
    <li>Contact</li>
    <li>Services</li>
  </ul>
</nav>

       <main>
       <h1>About Us</h1>
       <p>Since 1983, Summit St. Family Restaurant has been a favorite stop for families in the kent ohio area. Delicious food, low prices, convenience and a fun family atmosphere - that's Carmine's! For the family on the move, Summit offers everything on our menu “To-go”. But we don't stop there - Summit also has a Drive-thru Pick-up Window! Call ahead with your order and we'll have your meal prepared hot & fresh, ready for you to swing by without ever getting out of your car!</p>
       
       <p>And because Summit St. is a Family Restaurant, senior citizens can take advantage of our 10% senior discount, and children 12 years old or younger can get their own Summit St. Club Card (kids meals at 50%,free soda refills & 50% kiddie ice cream cones)! Everyone can purchase a V.I.P. card and get free pizza's. For added convenience, ask about our Summit St. Gift Card, in any amount. Use your Gift Card instead of cash, or get one for someone special! For breakfast,lunch or dinner!</p>

       <p>Summit St. now Caters for any occasion!  Let Summit ST. plan your next event! Corporate,Graduations,Showers,Birthdays and even Backyard Parties.Well do the heavy lifting,creating and preparing a unique menu tailored for your guests. Leave the planning to us while you ENJOY YOUR PARTY!!</p>

       <p>At Summit St., we love being part of the community, and we love what we do - that's why we're Kent’s favorite family restaurant! Come visit us today!</p></main>


      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>

  
</html>