<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu</title>
    <meta name="Menu" content="Menu">
  </head>
  <body>

       <!-- The page content goes here -->
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->

      <main role="main">

          <header><img src="summitst.svg" alt="Summit Street Family Restaurant" title="Summit Street Logo" width="1500px"/></header>
<br>
<nav role="navigation">
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="aboutus.html">About Us</a></li>
    <li><a href="menu.html">Menu</a></li>
    <li><a href="index.html">Contact</a></li>
    <li><a href="index.html">Services</a></li>
  </ul>
</nav>   
</main>
<h1>Breakfast</h1>
        <h2>Breakfast Pizza</h2>
          <p>Scrambled eggs, White American, Mozzarella and Cheddar cheese. </p>
          <h2>Breakfast Burrito Bowl</h2>
          <p>Choice of Plain, Sausage, Bacon, Ham, or Veggie (Broccoli, Mushrooms, Onions, Peppers) w/ Scrambled Eggs, Potatoes, Cheddar Cheese.</p>
        <h2>Breakfast Burrito</h2>
          <p>Scrambled Eggs, Sausage, Cheddar Cheese, and Homefries. Breakfast Sandwich with 2 Eggs & Cheese</p>