<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu</title>
    <meta name="Menu" content="Menu">
  </head>
  <body>

       <!-- The page content goes here -->
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->

      <main role="main">

          <header><img src="summitst.svg" alt="Summit Street Family Restaurant" title="Summit Street Logo" width="1500px"/></header>
<br>
<nav role="navigation">
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="aboutus.html">About Us</a></li>
    <li><a href="menu.html">Menu</a></li>
    <li><a href="index.html">Contact</a></li>
    <li><a href="index.html">Services</a></li>
  </ul>
</nav>   
</main>
<h2>Ice Cream / Desserts</h2>
<h2>8 featured flavors of Perrys Ice Cream! Custard cones, milk shakes, floats.</h2>
<h2>Chocolate Chunk Cookie</h2>
<h2>Fudge Brownie</h2>
<h2>Chocolate Cake</h2>
<h2>Custard Cones</h2> 
<p>Chocolate, Vanilla, Twist or Choose a Flavor Burst (8 flavor choices)</p>
<h2>Root Beer Float</h2>
<h2>Milk Shakes</h2> 
<p>Orange, Strawberry, Banana, Chocolate, Cookies & Cream, Cherry, Vanilla.</p>
<h2>Chocolate Cake Shake</h2>
<p>A rich chocolate custard milkshake with a generous piece of Triple Chocolate Cake mixed in!</p>
