

<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Summit St. Family Restaurant</title>
    <meta name="description" content="Summit St. Family Restaurant">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.min.css">
  </head>
  <body>
 <header role="banner"><a href="index.html"><img src="summitst.svg" alt="Summit Street Family Restaurant" title="Summit Street Logo" width="1500px" /></a></header>
<br>


<nav role="navigation">
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="aboutus.html">About Us</a></li>
    <li><a href="menu.html">Menu</a></li>
    <li><a href="index.html">Contact</a></li>
    <li><a href="index.html">Services</a></li>
    <li><a href="index.html">Catering</a></li>
  </ul>
</nav>


   
       <!-- The page content goes here -->
       <!-- Add your stylesheet here, before the closing HTML tag -->
<main role="main">




</div>
<div class="gallery js-flickity"data-flickity-options='{ "autoPlay": 4500 }'>
  <div class="gallery-cell"> <img src="slideshow/family.jpg"/></div>
  <div class="gallery-cell"> <img src="slideshow/interior.jpg"/></div>
  <div class="gallery-cell"><img src="slideshow/waiter.jpg"/></div>
  <div class="gallery-cell"><img src="slideshow/breakfast.jpg"/></div>
  <div class="gallery-cell"><img src="slideshow/dessert.jpg"/></div>
</div>

<br>
<h1> Great Food, Good Neighbors, Old Friends</h1><br>
<p>Stop by our family restaurant in Kent, OH for breakfast, lunch, or dinner any day of the week and appreciate the home-style cooking. Every day we make all our dishes with the freshest ingredients!</p>
<p>Enjoy a memorable family dinner or a light lunch with coworkers. Regulars enjoy our homemade daily specials and when the weather is nice, our outdoor dining patio. Whether you’re leaving after a tasty meal and you want something sweet to bring home or you’re just stopping by our bakery, we recommend our legendary Big Apple pie. All bakery items are made from scratch daily.</p>
<p>Try our festive gourmet punches, savor our roasted Arabica coffee blends, and indulge in our delightful selection of catering dishes.</p>
<p>From wedding anniversaries and business dinners to first dates and graduation celebrations, we’ve catered to the needs of our clients for more than 50 years. If your group is large enough, you might consider scheduling a catered event at one of our recommended locations.</p><br><br>


  <footer role="contentinfo">

<dl>
  <div class="contact"><dt>Hours</dt>
    <dd>Monday-Saturday: 8am-10pm Sunday: 11am-10pm</dd></div>
</dl>
<dl>
  <div class="contact"><dt>Address</dt>
  <dd>609 S. Lincoln St. Kent, OH 44242</dd></div>
</dl>
<dl>
  <div class="contact"><dt>Phone</dt>
    <dd>330-672-9292</dd></div>
</dl>
<dl>
  <div class="contact"><dt>Email</dt>
    <dd><a href="mailto:summitst@gmailcom">summitst@gmail.com</a></dd></div>
</dl>

<dl>
  <div class="contact"><dt>Social Media</dt>
    <dd>@summitstfamilyrestaurant</dd></div>
</dl>
<br>


</footer>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.pkgd.min.js"></script>
</main>
  </body>
</html>