<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu</title>
    <meta name="Menu" content="Menu">
  </head>
  <body>

       <!-- The page content goes here -->
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->

      <main role="main">

          <header><img src="summitst.svg" alt="Summit Street Family Restaurant" title="Summit Street Logo" width="1500px"/></header>
<br>
<nav role="navigation">
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="aboutus.html">About Us</a></li>
    <li><a href="menu.html">Menu</a></li>
    <li><a href="index.html">Contact</a></li>
    <li><a href="index.html">Services</a></li>
  </ul>
</nav>   
</main>


<a href="breakfast.html">Breakfast</a>
<a href="desserts.html">desserts</a>
<a href="salads.html">salads</a>
<a href="specials.html">specials</a>
<a href="dinners.html">dinners</a>
<a href="kidsmenu.html">kidsmenu</a>
  </body>

  <footer role="contentinfo">

<dl> 
  <div class="contact"><dt>Hours</dt>
    <dd>Monday-Saturday: 8am-10pm Sunday: 11am-10pm</dd></div>
</dl>
<dl>
  <div class="contact"><dt>Address</dt>
  <dd>609 S. Lincoln St. Kent, OH 44242</dd></div>
</dl>
<dl>
  <div class="contact"><dt>Phone</dt>
    <dd>330-672-9292</dd></div>
</dl>
<dl>
  <div class="contact"><dt>Email</dt>
    <dd><a href="mailto:summitst@gmailcom">summitst@gmail.com</a></dd></div>
</dl>

<dl>
  <div class="contact"><dt>Social Media</dt>
    <dd>@summitstfamilyrestaurant</dd></div>
</dl>


</footer>
</html>