<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu</title>
    <meta name="Menu" content="Menu">
  </head>
  <body>

       <!-- The page content goes here -->
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->

      <main role="main">

          <header><img src="summitst.svg" alt="Summit Street Family Restaurant" title="Summit Street Logo" width="1500px"/></header>
<br>
<nav role="navigation">
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="aboutus.html">About Us</a></li>
    <li><a href="menu.html">Menu</a></li>
    <li><a href="index.html">Contact</a></li>
    <li><a href="index.html">Services</a></li>
  </ul>
</nav>   
</main>
        <h2>Apple Chicken Pecan</h2>
          <p>Iceberg lettuce, tomatoes, onions, bacon, blue cheese crumbles, balsamic glaze, and your choice of dressing.</p>
        <h2>Chicken Avocado</h2>
          <p>Chopped Romaine & Spring Mix, tomatoes, onions, Asiago Cheese, Glazed Walnuts, Avocado & 6oz Chicken Breast tossed over choice of dressing.</p>
        <h2>Classic Caesar Salad</h2>
          <p>A crispy bed of romaine lettuce & croutons served with freshly grated parmesan cheese & Caesar dressing.</p>
        <h2>Buffalo Chicken Salad</h2>
          <p>Chopped Romaine, blue cheese crumble, celery, cucumbers, tomatoes, onions, tricolor tortilla chips, Chicken Tenders dipped in buffalo sauce, Choice of dressing.</p>
        <h2>Chicken Caesar Salad</h2>
          <p>A crispy bed of romaine lettuce & croutons served with freshly grated parmesan cheese & Caesar dressing,served with a 6 oz Chicken Breast. </p>
        <h2>Chicken Chopped Salad</h2>
          <p>Chopped romaine lettuce mixed w/ ditallini pasta, 6 oz chicken breast, bacon, tomato, red cabbage, gorgonzola cheese, green onion & tossed in choice of dressing.</p>
        <h2>California Chicken & Fruit</h2>
          <p>Chopped Romaine, Spring Mix, fresh vegetables,, cheddar cheese, glazed walnuts,strawberries,mandarin oranges,blueberries,pineapple chunks & 6 oz Chicken Breast tossed over poppyseed dressing.</p>
        <h2>Steakhouse Filet Salad</h2>
          <p>Chopped Romaine lettuce, tender grilled Filet Mignon tips, Asiago/Romano/Parmesan cheese, bacon, tomatoes, cucumber, & red onions tossed over choice of dressing.</p>
        <h2>Asian Chicken Wonton Salad</h2>
          <p>6 oz Breaded Chicken Breast, tossed with Copped Romaine, red peppers, red onions, sliced almonds, mandarin oranges, black sesame seeds, and crispy wontons, with a sesame oriental dressing!</p>
        <h2>Southwest BBQ Chicken</h2>
          <p>Ribbon romaine, 6 oz Spicy Chicken Breast lettuce,cheddar-jack cheese,black beans, corn & peppers,tomatoes with tortilla chips tossed over chipoltle ranch.</p>
        <h2>Breakfast Burrito Bowl</h2>
          <p>Choice of Plain, Sausage, Bacon, Ham, or Veggie (Broccoli, Mushrooms, Onions, Peppers) w/ Scrambled Eggs, Potatoes, Cheddar Cheese.</p>
        <h2>Breakfast Burrito</h2>
          <p>Scrambled Eggs, Sausage, Cheddar Cheese, and Homefries. Breakfast Sandwich with 2 Eggs & Cheese</p>