<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu</title>
    <meta name="Menu" content="Menu">
  </head>
  <body>

       <!-- The page content goes here -->
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->

      <main role="main">

          <header><img src="summitst.svg" alt="Summit Street Family Restaurant" title="Summit Street Logo" width="1500px"/></header>
<br>
<nav role="navigation">
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="aboutus.html">About Us</a></li>
    <li><a href="menu.html">Menu</a></li>
    <li><a href="index.html">Contact</a></li>
    <li><a href="index.html">Services</a></li>
  </ul>
</nav>   
</main>
<h1>Specials</h1>
        <h2>Soup of the Day</h2>
        <p>Chicken Avacado Salad or Sandwich</p>